.banner {
  background-image: url("../../resources/mainpage/Baner.png"); 
  background-size: cover; /* Растягиваем, сохраняя пропорции и обрезая лишнее */
  background-position: center; 
  background-repeat: no-repeat;
  width: 100%; /* Растягиваем на всю ширину контейнера */
  height: 80vh; /* Занимаем всю высоту видимой области */
}

@media (max-width: 990px) {
  .banner {
    background-size: contain; /* Замените auto на contain */
  }
}

@media (max-width: 768px) {
  .banner {
    background-size: contain; /* Замените auto на contain */
  }
}
