.main-text {
  font-family: "Aboreto", sans-serif;
  font-size: 110px;
  text-align: left;
  margin-left: 110px;
  text-shadow: 8px 2px 4px rgba(0, 0, 0, 0.5); /* Параметры тени: смещение по горизонтали, смещение по вертикали, радиус размытия, цвет */
}

@media (max-width: 990px) {
  .main-text {
    font-size: 90px; 
    margin-left: 55px; 
  }
}
@media (max-width: 768px) {
  .main-text {
    font-size: 75px;
    tex-align:center;
  }
}